<header>
  <div class="container">
    <a href="https://www.brgroup.cz/cs/" class="logo">
      <img src="../assets/img/logo_br_group.svg" alt="BR Group, a.s.">
    </a>
    <h2>WebApp</h2>
  </div>
</header>

<main>
  <div class="container">
    <h1>Editor emailových podpisů</h1>

    <div class="form">
      <app-signature-form></app-signature-form>
    </div>

    <div class="power_unity"></div>
  </div>
</main>

<footer>
  <div class="container">
    <p>Verze 1.01 | Pro BR Group, a.s. vytvořil | &copy; {{year}} <a href="mailto:marek.serk@gmail.com">Marek Šerk</a> / <a href="tel:+420605851247">+420 605 851 247</a></p>
  </div>
</footer>

